// Offsets
$offset-mobile-xs:  0;
$offset-mobile-sm:  0;
$offset-mobile-md:  0;
$offset-mobile-lg:  0;
$offset-mobile-xl:  0;

$offset-desktop-xs: 0;
$offset-desktop-sm: 0;
$offset-desktop-md: 0;
$offset-desktop-lg: 0;
$offset-desktop-xl: 0;